* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-size: 20px;
  font-family: 'Avenir Next Cyr Medium';
  min-width: 320px; }

.heading {
  font-size: 48px;
  color: #212F3D;
  font-family: 'Bebas Neue Bold';
  text-align: center;
  text-transform: uppercase;
  background-color: transparent; }

.heading--white {
  color: #FFF; }

.button {
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  text-align: center;
  background-image: -moz-linear-gradient(-29deg, rgba(72, 215, 187, 0.8), rgba(14, 181, 149, 0.8));
  background-image: -webkit-linear-gradient(-29deg, rgba(72, 215, 187, 0.8), rgba(14, 181, 149, 0.8));
  background-image: -ms-linear-gradient(-29deg, rgba(72, 215, 187, 0.8), rgba(14, 181, 149, 0.8));
  box-shadow: 0px 12px 43px 0px rgba(35, 220, 184, 0.31); }
  .button:hover {
    text-decoration: none;
    color: #FFF;
    background-color: #0eb595; }
  @media (min-width: 1170px) {
    .button {
      font-size: 18px;
      line-height: 1;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 56px;
      padding-right: 56px; } }

.button-special {
  display: inline-block;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #11b797;
  color: #11B797;
  padding-left: 39px;
  padding-right: 39px;
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (min-width: 1170px) {
    .button-special {
      margin-left: auto;
      margin-right: auto; } }

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.social-list__item {
  margin: 0;
  padding: 0; }
  .social-list__item a img {
    color: #FFF;
    width: 35px;
    height: 35px; }

.social-list__item--footer {
  border: 1px solid #FFF;
  margin-bottom: 426px;
  margin-top: 80px;
  padding: 5px;
  -webkit-border-radius: 80px;
  border-radius: 80px; }
  @media (min-width: 768px) {
    .social-list__item--footer {
      padding: 10px; } }
  @media (min-width: 1170px) {
    .social-list__item--footer {
      padding: 20px; } }

.filter {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1); }

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url("../fonts/AvenirNextCyr-Regular.eot");
  src: url("../fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir Next Cyr Medium';
  src: url("../fonts/AvenirNextCyr-Medium.eot");
  src: url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.header {
  background-color: #193345;
  color: #FFF;
  background: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 245px;
  position: relative; }
  .header:before {
    display: none; }
  @media (min-width: 1170px) {
    .header {
      padding-top: 40px; }
      .header:before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        bottom: -440px;
        width: 390px;
        height: 677px;
        background-image: url(../img/dumbells.png);
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: 2; } }

.header__logo {
  font-family: 'Avenir Next Cyr Medium';
  font-size: 26px;
  line-height: 1;
  margin-bottom: 10px; }
  @media (min-width: 1170px) {
    .header__logo {
      margin-bottom: 0; } }

.header__slogan {
  font-family: 'Avenir Next Cyr Regular';
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px; }
  @media (min-width: 1170px) {
    .header__slogan {
      margin-bottom: 0; } }

.header__phone {
  font-family: 'Avenir Next Cyr Medium';
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px; }
  @media (min-width: 1170px) {
    .header__phone {
      margin-bottom: 0; } }

.header__title {
  margin-top: 100px;
  font-family: 'Bebas Neue Bold';
  font-size: 50px;
  line-height: 1; }
  @media (min-width: 1170px) {
    .header__title {
      width: 50%;
      margin-top: 220px;
      font-size: 106px;
      line-height: 110px; } }

.header__subtitle {
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: 'Avenir Next Cyr Medium';
  font-size: 20px;
  line-height: 1; }
  @media (min-width: 1170px) {
    .header__subtitle {
      font-size: 27px;
      line-height: 19px;
      margin-top: 50px;
      margin-bottom: 100px; } }

/*
font-family: 'Avenir Next Cyr Medium';
font-family: 'Avenir Next Cyr Regular';
font-family: 'Bebas Neue Bold';
*/
.benefits {
  padding-top: 115px;
  padding-bottom: 157px; }

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(8, 1fr); }
  @media (min-width: 768px) {
    .benefits-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr); } }
  @media (min-width: 1170px) {
    .benefits-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr); } }

.benefit-card {
  text-align: center; }
  .benefit-card img {
    margin-top: 90px;
    margin-bottom: 45px;
    width: 150px;
    height: 150px; }
  .benefit-card p {
    width: 165px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 30px;
    color: #212F3D; }

.about-me {
  padding-top: 117px;
  height: 674px;
  background-color: #F8FBFA;
  position: relative; }
  @media (min-width: 992px) {
    .about-me:after {
      content: "";
      position: absolute;
      top: -33px;
      left: -70px;
      width: 687px;
      height: 706px;
      background-image: url(../img/img-woman.png);
      background-repeat: no-repeat;
      background-position: left top;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }
  .about-me p {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding-top: 57px;
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
    color: #212F3D;
    text-align: left; }
    @media (min-width: 992px) {
      .about-me p {
        padding-bottom: 57px; } }
  .about-me .heading {
    text-align: left; }

.proposal {
  padding-top: 115px;
  padding-bottom: 100px;
  text-align: center; }

.input {
  margin: 0;
  display: inline-block;
  width: 46%;
  height: 66px;
  margin-right: 4%;
  background-color: #EFF4F3;
  font-family: 'Avenir Next Cyr Regular';
  font-size: 16px;
  line-height: 30;
  color: #6E837F;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px; }
  .input:last-of-type {
    margin-right: 0; }

.proposal__text {
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 1;
  color: #212F3D; }

.proposal__desription {
  margin-top: 36px;
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 1;
  color: #6E837F; }
  .proposal__desription a {
    color: #6E837F;
    text-decoration: underline; }

.footer {
  padding-top: 157px;
  background-image: url(../img/bg-footer.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; }
  .footer:before {
    display: none; }
  @media (min-width: 1170px) {
    .footer:before {
      display: block;
      content: "";
      position: absolute;
      top: -375px;
      right: 0;
      width: 401px;
      height: 822px;
      background-image: url(../img/ball.png);
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; } }

.copyright {
  background-color: #1d2a3c;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px; }

/*# sourceMappingURL=main.css.map */
