.about-me{
	height: 674px;
	background-color: #F8FBFA;
	position: relative;
	@media (min-width:992px) {
		&:after {
			content: "";
			position: absolute;
			top: -33px;
			left: -70px;
			width: 687px;
			height: 706px;
			background-image: url(../img/img-woman.png);
			background-repeat: no-repeat;
			background-position: left top;
			-webkit-background-size: cover;
			     -o-background-size: cover;
			        background-size: cover;
		}
	}

	p{	
		-webkit-border-radius: 15px;
		        border-radius: 15px;
		padding-top: 57px;
		
		margin-bottom: 65px;
		font-size: 20px;
		line-height: 30px;
		color: #212F3D;
		text-align: left;
		@media (min-width:992px){
			padding-bottom: 57px;
			
		}
	}
	.heading {
		text-align: left;
	}
}
