*{
-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;	
}
body {
	margin: 0;
	font-size: 20px;
	font-family: 'Avenir Next Cyr Medium';
	min-width: 320px;
	
}
.heading {
	font-size: 48px;
	color: #212F3D;
	font-family: 'Bebas Neue Bold';
	text-align: center;
	text-transform: uppercase;
	padding-top: 65px;
	background-color: transparent;
	 @media (min-width:1170px) {
	 	padding-top: 115px;
	 	
	 }
	
}

.button {
	display: inline-block;
	color: #FFF;
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 25px;
	padding-left: 25px;
	-webkit-border-radius: 40px;
	        border-radius: 40px;
	text-align: center;
    background-image: -moz-linear-gradient( -29deg, rgba(72,215,187,0.8) , rgba(14,181,149,0.8) );
    background-image: -webkit-linear-gradient( -29deg, rgba(72,215,187,0.8) , rgba(14,181,149,0.8) );
    background-image: -ms-linear-gradient( -29deg, rgba(72,215,187,0.8) , rgba(14,181,149,0.8) );
    box-shadow: 0px 12px 43px 0px rgba(35, 220, 184, 0.31);
    &:hover {
    	text-decoration: none;
    	color: #FFF;
    	background-color: rgb(14,181,149);
    }
    @media (min-width:1170px) {
    	font-size: 18px;
		line-height: 1;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 56px;
		padding-right: 56px;
	
    }
}

.button-special {
	display: inline-block;
	background-image: none;
	background-color: transparent ;
	box-shadow: none;
	border: 1px solid #11b797;
	color: #11B797;
	padding-left: 39px;
	padding-right: 39px;
	padding-top: 25px;
	padding-bottom: 25px;
	@media (min-width:1170px) {
		margin-left: auto;
		margin-right: auto;
				
	}
	
}